#bio {
  background: black;
}

.bio-content {
  position: relative;
  color: white;
  z-index: 2;
}

.bio-content .quote-container {
  position: relative;
  margin-bottom: 150px;
  max-width: 620px;
  font-family: "PT Serif", serif;
}

.bio-content .quote-container .quote {
  font-size: 60px;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  .bio-content .quote-container .quote {
    font-size: 30px;
  }
}

.bio-content .bio-text-container {
  font-family: "Poppins", sans-serif;
  opacity: 0;
  transition: opacity 1s;
  transition-delay: .5s;
}

.bio-content .bio-text-container.reveal {
  opacity: 1;
}